<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - MTA EDUCATION</title>
    @RenderSection("Head", required: false)
    <link rel="stylesheet" href="~/pages/profile/css/font.google.css">
    <link rel="stylesheet" href="~/pages/profile/css/OneSignalSDKStyles.css">
    <link rel="stylesheet" href="~/pages/profile/css/profile.css">
    <link rel="stylesheet" href="~/pages/profile/css/font-awesome.css">
    <link rel="stylesheet" href="~/pages/profile/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/pages/profile/css/HeaderUser.css">
    <link rel="stylesheet" href="~/pages/profile/css/FooterUser.css">
    <link rel="stylesheet" href="~/pages/profile/css/MainUser.css">
 

</head>

<body>
    <header class="header-fixed header-boxshadow-active">
        <div class="#wrapper40-scroll" id="#wrapper">
            <div class="container">
                <div class="row top-header">
                    <div class="col-md-4 col-xs-3">
                        <a href="#homepage">
                            <img class="header-logo" src="~/pages/profile/images/LogoEducation.png" alt="logo">
                        </a>
                    </div>
                    <div class="col-md-8 col-xs-9">
                        <nav class="navbar navbar-inverse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="user-information dropdown-toggle dropdown">
                                    <a class="dropdown-toggle text-classy" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user-circle"></i>
                                        <span id="username"></span>
                                    </a>
                                    <ul class="dropdown-menu" style="min-width: fit-content;">
                                        <li style="width: 100%; margin: 0;">
                                            <a asp-action="Profile" asp-controller="Account">
                                                <i class="fa fa-user"></i>
                                                Your Profile
                                            </a>
                                        </li>
                                        <li style="width: 100%; margin: 0;">
                                            <a href="#user/package">
                                                <i class="fa fa-user-md" aria-hidden="true"></i>
                                                Your Account
                                            </a>
                                        </li>
                                        <li style="width: 100%; margin: 0;">
                                            <a href="#user/history">
                                                <i class="fa fa-history"></i>
                                                History
                                            </a>
                                        </li>
                                        <li style="width: 100%; margin: 0;">
                                            <a asp-action="Logout" asp-controller="Account">
                                                <i class="fa fa-door-closed"></i>
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-toggle dropdown" data-toggle="dropdown">
                                    <a id="aChangeLanguage" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">
                                        <img src="~/pages/profile/images/flag_vi.png" alt="language_flag" class="flag_uk mr-2">
                                        Tiếng Việt
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" style="min-width: fit-content;">
                                        <li>
                                            <a id="TiengAnh">
                                                Tiếng Anh
                                            </a>
                                        </li>
                                        <li>
                                            <a id="TiengViet">
                                                Tiếng Việt
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="notify-header dropdown-toggle dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">
                                        <img src="~/pages/profile/images/bell.png" class="bell-notify">
                                        <span id="ThongBao" class="text-notify">
                                            Thông báo
                                        </span>
                                    </a>
                                    <div class="table-notify dropdown-menu ">
                                        <div class="table-notify-header">
                                            <div class="col-md-4">
                                                <span>Thông báo</span>
                                            </div>
                                            <div class="col-md-8 menu-notify dropdown">
                                                <img src="~/pages/profile/images/three-dots.png" class="menu-dots dropdown-toggle"
                                                     id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                     aria-expanded="false">
                                                <div class="mark-read-menu dropdown-menu"
                                                     aria-labelledby="dropdownMenuButton">
                                                    <img src="~/pages/profile/images/polygon-white.png">
                                                    <div class="content-mark-read">
                                                        <img src="~/pages/profile/images/check-gray.png">
                                                        <span>Đánh dấu tất cả là đã đọc</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-notify-body">

                                        </div>
                                        <div class="table-notify-footer">
                                            <a href="#/user/notification">
                                                <span>Xem tất cả thông báo</span>
                                                <img src="~/pages/profile/images/arrow-right.png" class="img-arrow-right">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row header-menu">
                    <div class="col-md-12 col-xs-12">
                        <nav class="navbar navbar-inverse">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a hef="#" id="TinTuc">Tin Tức</a>
                                </li>
                                <li>
                                    <a id="HocTrucTuyen" asp-controller="JoinClass" asp-action="AvailableClasses">Học trực tuyến</a>
                                </li>
                                <li>
                                    <a hef="#" id="KiemTra">Kiểm tra</a>
                                </li>
                                <li>
                                    <a href="#" id="HoTro">Hỗ trợ</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderSection("Header", required: false)

    @RenderBody()

    @RenderSection("Script", required: false)
    <footer style="margin-bottom:0px !important">
        <div class="footer-mid ptb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="single-footer br-2 xs-mb">
                                    <div class="footer-title mb-20">
                                        <h3>Chương Trình</h3>
                                    </div>
                                    <div class="footer-mid-menu">
                                        <ul>
                                            <li><a href="contact.html">Quy Định</a></li>
                                            <li><a href="#">Chính Sách Dịch Vụ</a></li>
                                            <li><a href="#">Chính Sách Bảo Mật</a></li>
                                            <li><a href="register.html">Kiểm Tra Trình Độ </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="single-footer br-2 xs-mb">
                                    <div class="footer-title mb-20">
                                        <h3>Tài Nguyên Miễn Phí</h3>
                                    </div>
                                    <div class="footer-mid-menu">
                                        <ul>
                                            <li><a href="contact.html">Tài liệu</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#"> Bài test</a></li>
                                            <li><a href="#">Nhận học miễn phí qua gmail</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="single-footer mrg-sm">
                            <div class="footer-title mb-20">
                                <h3>Liên Hệ</h3>
                            </div>
                            <div class="footer-contact">
                                <p class="adress">
                                    <span>Địa Chỉ</span>
                                    236 Hoàng Quốc Việt
                                </p>
                                <p><span>Số Điện Thoại:</span> (+84)0123456789</p>
                                <p><span>Gmail:</span>  Education@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row bt-2">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="link-follow">
                            <ul>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                                <li class="hidden-sm"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                <li class="hidden-sm"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End footer Area -->
    </footer>
    <script>
        document.getElementById("username").innerHTML = "@User.Identity.Name";
    </script>
    <script src="~/pages/profile/js/profile.js"></script>
    <script src="~/pages/profile/js/1209952130-idpiframe.js" async=""></script>
    <script src="~/pages/profile/js/analytics.js" async=""></script>
    <script src="~/pages/profile/js/bootstrap.min.js" async=""></script>
    <script src="~/pages/profile/js/index.101202010.js" async=""></script>
    <script src="~/pages/profile/js/jquery.min.js" async=""></script>
    <script src="~/pages/profile/js/main.chunkhash.101202010.bundle.js" async=""></script>
    <script src="~/pages/profile/js/OneSignalPageSDKES6.js" async=""></script>
    <script src="~/pages/profile/js/OneSignalSDK.js" async=""></script>
    <script src="~/pages/profile/js/main_vendor.chunkhash.101202010.bundle.js"></script>
    <script src="~/pages/profile/js/jquery.3.4.1.js"></script>
    <script src="~/pages/profile/js/changelanguage.js"></script>
</body>

</html>
