@model UserProfile

@{
    ViewData["Title"] = "Profile";
    Layout = "_LayoutAccount";
}
@section Head {
    <link rel="stylesheet" href="~/pages/profile/css/all.min.css">
    <link rel="stylesheet" href="~/pages/profile/css/bootstrap.css">
    <link rel="stylesheet" href="~/pages/profile/css/bootstrap.min.css">
}
<section>
    <div class="main">
        <div class="user-layout">
            <div class="header-page">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" role="button"><span>Trang chủ</span></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Thông tin cá nhân</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="container">
                <div>
                    <div class="left-bar-user">
                        <ul style="list-style: none;" >
                            <li class="active"><a href="/user/info"><img  src="~/pages/profile/images/user_info_icon.png"
                                        alt="~/pages/profile/images/user_info_icon.png"><span> Thông tin cá nhân</span></a></li>
                            <li class=""><a href="/user/history"><img style="width: 15px" src="~/pages/profile/images/history_icon.png"
                                        alt="~/pages/profile/images/history_icon.png"><span> Lịch sử học tập</span></a></li>
                            <li class=""><a href="/user/renew-package"><img style="width: 15px" src="~/pages/profile/images/renew_package_icon.png"
                                        alt="/images/renew_package_icon.png"><span> Điểm số</span></a></li>
                            <li class=""><a href="/user/notification"><img style="width: 15px" src="~/pages/profile/images/icon_notify.png"
                                        alt="~/pages/profile/images/icon_notify.png"><span> Thông báo</span></a></li>
                        </ul>
                    </div>
                    <div class="user-layout-children">
                        <div class="user-info">
                            <p class="title">Thông tin cá nhân</p>
                            <div class="box user-info-box col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3"><span class="text-normal"><strong>Thông tin cơ
                                                    bản</strong></span></div>
                                        <div class="col-md-9 text-right update-button">
                                            
                                            <button id="changes" onclick="changeFunction()" type="button">Chỉnh sửa</button>
                                            <button id="save" asp-action="ChangeProfile" asp-area="" asp-controller="AccountController" type="button" >Lưu</button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 " >
                                        <div class="col-md-3 file "><span class="text-size-avatar">Ảnh</span>
                                            @* <img id="myImg" src="~/pages/profile/images/google.png" width="200" class="avatar img-circle img-thumbnail" alt="avatar"> *@
                                        </div>
                                        <div class="col-md-9">
                                            <div class="user-info-avatar">
                                                <div>
                                                    <i class="fa fa-camera" aria-hidden="true"></i>
                                                    <input type="file" class="text-center center-block file-upload" name="file"/> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-md-12 border-top">
                                            <div class="col-md-3"><span>Họ và tên</span></div>
                                            <div class="col-md-9">
                                                <span class="oldInput">@Model.FullName</span>
                                                <input class="form-control newInput" name="UserName" style="display: none;" > 
                                            </div>
                                        </div>
                                        <div class="col-md-12 border-top">
                                            <div class="col-md-3"><span>Email</span></div>
                                            <div class="col-md-9">
                                                <span class="oldInput">@Model.Email</span>
                                                <input  class="form-control newInput" name="Email"  style="display: none;"> 
                                            </div>
                                        </div>
                                        <div class="col-md-12 border-top">
                                            <div class="col-md-3"><span>Số điện thoại</span></div>
                                            <div class="col-md-9"><span class="oldInput">@Model.PhoneNumber</span></div>
                                            <input class="form-control newInput" name="Phone" style="display: none;"> 
                                        </div>
                                        <div class="col-md-12 border-top">
                                            <div class="col-md-3">
                                                <span>Ngày sinh</span>
                                            </div>
                                            <div class="col-md-9">
                                                <span class="oldInput">@Model.Birthday</span>
                                                <input  class="newInput form-control" name="BirthDay"  style="display: none;"> 
                                            </div>
                                        </div>
                                        <div class="col-md-12 border-top">
                                            <div class="col-md-3"><span>Giới tính</span></div>
                                            <div class="col-md-9">
                                                @if(Model.Sex == true)
                                                {
                                                  <span class="oldInput">Nam</span>
                                                }else
                                                {
                                                    <span class="oldInput">Nữ</span>
                                                }
                                                <select class="newInput"  style="display: none;">
                                                    <ol>Nam</ol>
                                                    <ol>Nữ</ol>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 border-top">
                                            <div class="col-md-3"><span>Trình độ</span></div>
                                            <div class="col-md-9">
                                                <span class="text-capitalize oldInput">@Model.Job</span>
                                                <select class="newInput"  style="display: none;">
                                                    <ol>Teacher</ol>
                                                    <ol>Student</ol>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box user-password-box col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3"><span>Đổi mật khẩu</span></div>
                                        <div class="col-md-9"><a class="pull-right update-button" role="button">Chỉnh
                                                sửa</a></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Script {
    <script>
    $(document).ready(function() {  
        var readURL = function(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".file-upload").on('change', function(){
            readURL(this);
        });
        });

    </script>
}