@{

    ViewBag.Title = "Create Page";
    Layout = "_LayoutAccount";
}
@model JoinClassInfor
@section Head {
 
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h2 class="text-center display-4">Tìm Kiếm</h2>
                <div class="row">
                    <div class="col-md-10">
                        <form method="post" asp-action="Search" asp-controller="JoinClass">
                            <div class="input-group">
                                <input type="search" name="InfoClass" class="form-control form-control-sm" placeholder="Type your keywords here">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-lg btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <hr />
                <div class="row">
                    <h2 class="text-center display-4">Tạo Mới</h2>
                    <div class="link-follow">
                        <ul>
                            <li><a href="#" data-toggle="modal" style="background: #2bbbad !important" data-target="#modalSubscriptionForm"><i class="fa fa-plus-circle"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="Menu-add-class">
                    <h2 class="text-center">Danh Sách Lớp</h2>
                </div>
                <hr>
                <div class="card mb-4">
                    <div class="row">
                        @if (Model.AvailableClasses != null)
                        {
                            @foreach (Classes classes in Model.AvailableClasses)
                            {
                                <div class="col-md-4 product-grid">
                                    <div class="swiper-slide">
                                        <div class="slider-box">
                                            <p class="time">Lớp</p>
                                            <p class="detail">@classes.ClassName</p>
                                            <div class="img-box">
                                                <img src="~/pages/create/img/icon.jpeg">
                                            </div>
                                            <span class="detail">Chủ đề : @classes.Topic</span>
                                            <span class="giaovien">Giao Vien : @classes.User.UserName</span>
                                            <span class="online">Online: @classes.OnlineStudent</span>
                                            <div class="cart">
                                                <a asp-action="Join" asp-controller="JoinClass" data-toggle="modal" data-target="#modalForm">vào lớp</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <h4 style="margin-left:100px">Không có lớp nào đang hoạt động</h4>
                            <div class="row">
                                <h1></h1>
                            </div>
                            <div class="row">
                                <h1></h1>
                            </div>
                            <div class="row">
                                <h1></h1>
                            </div>
                            <div class="row">
                                <h1></h1>
                            </div>
                            <div class="row">
                                <h1></h1>
                            </div>
                            <div class="row">
                                <h1> </h1>
                            </div>
                        }
                    </div>
                    @{
                        var prevDisabled = !Model.PreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.NextPage ? "disabled" : "";
                    }
                    <a asp-action="AvailableClasses" asp-controller="JoinClass" asp-route-pageNumber="@Model.PageIndex - 1"
                       class="btn btn-default text-center @prevDisabled">
                        Previous
                    </a>
                    <a asp-action="AvailableClasses" asp-route-pageNumber="@(Model.PageIndex+ 1)" class="btn btn-default text-center @nextDisabled">
                        Next
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" method="POST" asp-action="Create" asp-controller="JoinClass">
            <div class="modal-header text-center">
                <h4 id="DangKyLop" class="modal-title w-100 font-weight-bold">Đăng Kí Lớp</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <input type="text" id="form3" class="form-control validate" asp-for="NewClass.ClassID" placeholder="Mã Phòng">
                </div>

                <div class="md-form mb-4">
                    <input type="text" id="form2" class="form-control validate" asp-for="NewClass.ClassName" placeholder="Tên Lớp">
                </div>

                <div class="md-form mb-4">
                    <input type="text" id="form1" class="form-control validate" asp-for="NewClass.Topic" placeholder="Chủ Đề">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-indigo">Tạo Lớp<i class="fas fa-paper-plane-o ml-1"></i></button>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" asp-action="Join" asp-controller="JoinClass" method="POST">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Nhập Mã Phòng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <input type="text" id="form3" class="form-control validate" asp-for="NewClass.ClassID">
                    <label data-error="wrong" data-success="right" for="form3">Mã Phòng</label>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-indigo">Vào Lớp<i class="fas fa-paper-plane-o ml-1"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>




